#score{
    margin-left: 5px;
    font-size: 20px;
   font-family: 'Ubuntu', sans-serif;
}
#timer{
    float: right;
    margin-right: 5px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: blueviolet;
}
h1{
    background-color:greenyellow;
    color: rgb(38,0,255);
    font-family: 'Ubuntu', sans-serif;
}
#show_sketch{
    float: right;
}
p{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: black;
}
#sketch_to_be_drawn{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: red;
}